@font-face {
    font-family: "Inria Sans";
    src: url("fonts/InriaSans-Regular.woff") format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Inria Sans";
    src: url("fonts/InriaSans-Light.woff") format('woff');
    font-weight: 300;
}
@font-face {
    font-family: "Inria Sans";
    src: url("fonts/InriaSans-Bold.woff") format('woff');
    font-weight: 700;
}

h1 {
    font-family: "Inria Sans";
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}
h2 {
    font-family: "Inria Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}
h3 {
    font-family: "Inria Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
}
h4 {
    font-family: "Inria Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
h5 {
    font-family: "Inria Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    transform: translateY(2px);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

.amarex-heading {
    /* font-family: "Inria Sans"; */
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
}

.amarex-large {
    /* font-family: "Inria Sans"; */
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.amarex-small {
    /* font-family: "Inria Sans"; */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.amarex-bold {
    /* font-family: "Inria Sans"; */
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.amarex-caption {
    /* font-family: "Inria Sans"; */
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.amarex-caption-bold {
    /* font-family: "Inria Sans"; */
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}
.amarex-tooltips {
    /* font-family: "Inria Sans"; */
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}
.amarex-button {
    /* font-family: "Inria Sans"; */
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.amarex-button-light {
    /* font-family: "Inria Sans"; */
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}
