@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";

/*
* Amarex Styleguide Colors added by Jakob
*/
$amarex_primary: #fff;
$amarex_secondary: #173561;
$amarex_secondary_mid: #E0EAF5;
$amarex_secondary_light: #CED5DD;
$amarex_grey_light: #DCDCDC;
$amarex_grey_mid: #A4A4A4;
$amarex_grey_dark: #5A5A5A;
$amarex_green: #00F456;
$amarex_red: #F40004;


// Typography
$font-size-base: 1rem;
$font_size_sm: $font-size-base * 0.857;
$font_size_big: $font-size-base * 1.167;
$font_size_huge: $font-size-base * 2;
$font_size_icon_lg: $font-size-base * 1.33;

$bootstrap-icons-font-src: url("../../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2?a74547b2f0863226942ff8ded57db345") format("woff2"),
url("../../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2?a74547b2f0863226942ff8ded57db345") format("woff") !default;

// Colors overwriten by new amarex colors
$light_grey: $amarex_grey_mid;
$light_grey_hover: $amarex_grey_light;
$light_grey_active: $amarex_grey_dark;
$light_grey_contrast: $amarex_primary;
$light_grey_inactive: $amarex_grey_light;
$light_grey_inactive_contrast: $amarex_grey_mid;
$dark_blue: $amarex_secondary;
$primary: $amarex_primary;
$secondary: $amarex_secondary;
$white: $amarex_primary;
$black: $amarex_secondary;
$light_red: $amarex_red;
$dark_grey: $amarex_grey_dark;
$light_blue: $amarex_secondary_light;
$placeholder-color: $amarex_grey_mid;
$form-check-input-checked-bg-color: $amarex_secondary;
$accent: $amarex_secondary_mid;
$accent_hover: $amarex_secondary_light;
$accent_focus: $amarex_secondary_light;
$accent_active: $amarex_secondary_light;
$accent_disabled: $amarex_grey_light;
$menu-background-color: $amarex_primary;

/* Styled classes */

h1, h2, h3, h4, h5, p, a {
  color: $amarex_secondary;
}
input[type="range" i] {
  cursor: grab !important;
}

.btn-primary {
  --bs-btn-color: $amarex_secondary;
  --bs-btn-bg: $amarex_secondary_light;
  --bs-btn-border-radius: 16px;
  --bs-btn-hover-color: $amarex_primary;
  --bs-btn-hover-bg: $amarex_secondary;
  --bs-btn-hover-border-color: $amarex_secondary;
  --bs-btn-active-color: $amarex_primary;
  --bs-btn-active-bg: $amarex_secondary;
  --bs-btn-focus-color: $amarex_primary;
  --bs-btn-focus-bg: $amarex_secondary;
}
.btn-secondary {
  --bs-btn-color: $amarex_primary;
  --bs-btn-bg: $amarex_secondary_light;
  --bs-btn-border-color: $amarex_secondary_light;
  --bs-btn-border-radius: 50px;
  --bs-btn-hover-color: $amarex_secondary;
  --bs-btn-hover-bg: $amarex_secondary_light;
  --bs-btn-hover-border-color: $amarex_secondary_light;
  --bs-btn-active-color: $amarex_primary;
  --bs-btn-active-bg: $amarex_secondary;
  --bs-btn-focus-color: $amarex_primary;
  --bs-btn-focus-bg: $amarex_secondary;
  --bs-btn-box-shadow: none;
}

.btn-light {
  --bs-btn-color: $amarex_secondary;
  --bs-btn-bg: $amarex_primary;
  --bs-btn-border-color: $amarex_primary;
  --bs-btn-border-radius: 50px;
  --bs-btn-disabled-opacity: 0.3;
  --bs-btn-hover-color: $amarex_secondary;
  --bs-btn-hover-bg: $amarex_secondary_light;
  --bs-btn-hover-border-color: $amarex_secondary_light;
  --bs-btn-active-color: $amarex_primary;
  --bs-btn-active-bg: $amarex_secondary;
  --bs-btn-focus-color: $amarex_primary;
  --bs-btn-focus-bg: $amarex_secondary;
  --bs-btn-box-shadow: none;
}


/* ICON SIZES */
$icon_length: 2.25rem;
$icon_length_small: 1.5rem;

/* FONT STYLES */
$font_family_default:Arial, sans-serif;
$font_family_narrow: Arial, sans-serif;
$font_family_accent: Arial, sans-serif;

/* PADDING */
$padding: 1.5rem;

/* other */
$shadow: rgba(0, 0, 0, 0.176);
$shadow_overlay: rgba(0, 0, 0, 0.4);
$tool_box_shadow: 0 6px 12px rgba(0, 0, 0, 0.176);

/*
  * MIXINGS
*/
@mixin clickable() {
  cursor: pointer;
  user-select: none;
}

.amarex-btn-primary {
  @include clickable();
  background: $amarex_secondary_mid;
  border: none;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  * {
    color: $amarex_secondary;
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  &.mid p {
    text-align: center;
  }
  &:not(.deactivated):hover {
    background: $amarex_secondary_light;
    svg {
      stroke: $amarex_secondary !important;
    }
    p {
      color: $amarex_secondary !important;
    }
  }
  &.accent {
    background: $amarex_secondary_mid;
  }
  &.grey {
    background: $amarex_grey_light;
    * {
      color: $amarex_secondary !important
    }
  }
  &.full {
    width: 100%;
    p {
      width: 100%;
    }
  }
  &.deactivated {
    background: $amarex_grey_light !important;
    cursor: not-allowed !important;
    * {
      color: $amarex_grey_mid !important
    }
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
  min-width: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*
 * Grid breakpoints
 */
 $xs: 0;
 $sm: 576px;
 $md: 768px;
 $lg: 992px;
 $xl: 1200px;
 $xxl: 1400px;

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);

:export {
    gridBreakpoints: {
        xs: $xs;
        sm: $sm;
        md: $md;
        lg: $lg;
        xl: $xl;
        xxl: $xxl;
    }
}
